<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://szerver43.postgres.database.azure.com:5432/azure_sys?ssl=true&amp;sslmode=require</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">user1@szerver43</property>
        <property name="connection.password">Proba123456</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="hu.gamf.AruClass"/>
        <mapping class="hu.gamf.KategoriaClass"/>
    </session-factory>
</hibernate-configuration>
